Source: snap-py
Maintainer: Heiko Klein <Heiko.Klein@met.no>
Section: python
Priority: optional
Build-Depends: python3-all, python3-netcdf4, debhelper (>= 7.4.3)
Standards-Version: 3.9.7


Package: snap-py
Architecture: all
# mapp-config is only optional, and only required at MET for SnapPy/lustre-selection
Depends: ${misc:Depends}, ${python3:Depends}, bsnap (>= 2.0.0), python3-pyqt5, python3-pyqt5.qtwebkit, mapp-config
Description: SNAP GUI in python


