repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.10
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      files: ^(.*\.py|.*\.pyi)$|snapPy$
      args: [ --fix, --extend-select=F, --extend-select=I ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
      files: ^(.*\.py|.*\.pyi)$||/snapPy$
