Source: bsnap
Maintainer: Heiko Klein <heiko.klein@met.no>
Section: science
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper-compat (= 13), devscripts, fakeroot, pkgconf, libnetcdff-dev, gfortran, libfimex-2.1-dev

Package: bsnap
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Severe Nuclear Accident Programme
 Dispersion model specialized for nuclear accidents.
