#----------------------------------------------------------------------------------
# Setupfile for Diana / snap
#----------------------------------------------------------------------------------

# =============================================

%include /etc/diana/setup/diana.setup-COMMON

# =============================================

# CHANGES

<BASIC>
language=en #change language
</BASIC>



<COLOURS>

#redefine
#darkRed=      100,0,0 #even darker

#more colours
green5=     153,204,51
green6=     171,191,8

</COLOURS>


<PALETTES>
# Add palettes
no_green_ncl = 0:128:161,0:161:191,0:191:224,0:224:255,0:255:255,51:255:255,102:255:255,153:255:255,204:255:255,255:255:255,252:252:0,252:224:0,252:191:0,252:161:0,252:128:0,252:97:0,252:64:0,252:33:0,191:0:0
no_green_nclp = 0:255:255,51:255:255,102:255:255,153:255:255,204:255:255,255:255:255,252:252:0,252:224:0,252:191:0,252:161:0,252:128:0,252:97:0,252:64:0,252:33:0,191:0:0
no_green_nclm = 0:224:255,0:191:224,0:161:191,0:128:161
wave_pal=42:255:255,85:255:255,127:255:255,170:255:255,255:255:150,255:255:84,255:240:0,255:191:0,255:168:0,255:138:0,255:112:0,255:77:0,255:0:0,255:0:100,255:0:150,255:0:200,255:0:250
grey_pal=245:245:245,240:240:240,235:235:235,230:230:230,225:225:225,220:220:220,215:215:215,210:210:210,205:205:205,200:200:200,195:195:195,190:190:190,185:185:185,180:180:180,175:175:175,170:170:170,165:165:165,160:160:160,155:155:155,150:150:150
grey_pal_inv=150:150:150,155:155:155,160:160:160,165:165:165,170:170:170,175:175:175,180:180:180,185:185:185,190:190:190,195:195:195,200:200:200,205:205:205,210:210:210,215:215:215,220:220:220,225:225:225,230:230:230,235:235:235,240:240:240,245:245:245
allwhite= 255:255:255,255:255:255
pure_white=255:255:255,255:255:255,255:255:255,255:255:255,255:255:255,255:255:255,255:255:255,255:255:255,255:255:255

</PALETTES>




<LINETYPES>
# Add linetypes
dash1=    1111000011111111
</LINETYPES>




<QUICKMENUS>
#Add quick menus

</QUICKMENUS>


<FIELD_COMPUTE>

# Computations are common for all file types ( met.no FieldFile, Grid, NetCDF,...)
# See diFieldFunctions.h or other documentation

#  Clear the definitions from diana.setup-COMMON
#CLEAR

# SNAP computations
Cesium137_concentration=add(conc.average_Cs137,0)
I131_concentration=add(conc.average_I131,0)
Xenon133_concentration=add(conc.average_Xe-133,0)

Cesium137_concentration_instant=add(conc.instant_Cs137,0)
I131_concentration_instant=add(conc.instant_I131,0)
Xenon133_concentration_instant=add(conc.instant_Xe-133,0)

Cesium137_concentration_accum=add(conc.accum_Cs137,0)
I131_concentration_accum=add(conc.accum_I131,0)
Xenon133_concentration_accum=add(conc.accum_Xe-133,0)

Cs137_tdep=add(accum.dry.dep_Cs137,accum.wet.dep_Cs137)
I131_tdep=add(accum.dry.dep_I131,accum.wet.dep_I131)


</FIELD_COMPUTE>


<FIELD_PLOT>

#  Clear the definitions from diana.setup-COMMON
CLEAR    

#change plot options of existing field

# For netCDF files these use the variable names, not the standard_names.
# Thus, this section must be tailored for various datasets, i.e., 
# a separate setup file for each dataset. 
# For example: different setup files for TOPAZ, MIPOM, ROMS, etc.


# SNAP and eEMEP

field=PRECIP.SNAP
      line.values=.2,.5,1.,2.,4.,6.,10.,15.,20.,25.
      colour=red linetype=solid linewidth=1
      plot=CONTOUR(precipitation_amount)
end.field


#field=Cs137_konsentrasjon_bakke
#      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m3
#      plot=CONTOUR(Cesium137_concentration)
#end.field
#field=I131_konsentrasjon_bakke
#      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m3
#      plot=CONTOUR(Iodine131_concentration)
#end.field
#field=Xe133_konsentrasjon_bakke
#      colour=off log.line.values=100. palettecolours=who_uvi table=1 units=Bq/m3
#      plot=CONTOUR(Xenon133_concentration)
#end.field


field=Cs137_total_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(Cs137_tdep)
end.field
field=Cs137_dry_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(accum.dry.dep_Cs137)
end.field
field=Cs137_wet_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(accum.wet.dep_Cs137)
end.field
field=Cs137_tidsintegrert_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq*hr/m3
      plot=CONTOUR(Cesium137_concentration_accum)
end.field
field=Cs137_instantan_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m3
      plot=CONTOUR(Cesium137_concentration_instant)
end.field


field=I131_total_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(I131_tdep)
end.field
field=I131_dry_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(accum.dry.dep_I131)
end.field
field=I131_wet_deposisjon
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m2
      plot=CONTOUR(accum.wet.dep_I131)
end.field
field=I131_tidsintegrert_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq*hr/m3
      plot=CONTOUR(I131_concentration_accum)
end.field
field=I131_instantan_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m3
      plot=CONTOUR(I131_concentration_instant)
end.field

field=Xe133_tidsintegrert_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1  units=Bq*hr/m3
      plot=CONTOUR(Xenon133_concentration_accum)
end.field
field=Xe133_instantan_konsentrasjon_bakke
      colour=off log.line.values=100.,300. palettecolours=who_uvi table=1 units=Bq/m3
      plot=CONTOUR(Xenon133_concentration_instant)
end.field


</FIELD_PLOT>


<FIELD_FILES>

filegroup=SNAP
m=SNAP.current t=fimex format=netcdf f=%PWD%/snap.nc


</FIELD_FILES>



<MAP_AREA>

#add new map area or change existing area
name=EMEP_PROJ proj4string="+proj=stere +lat_0=90 +lon_0=-32 +ellps=WGS84 +towgs84=0,0,0 +no_defs" rectangle=1.23949e+07:1.3471e+07:6.59011e+06:6.97476e+06
</MAP_AREA>


<MAP_TYPE>
 
#map=elver_grenser    file=/metno/local/maps/land5.dat    # emep(grenser,elver)

</MAP_TYPE>


<OBJECTS>

</OBJECTS>


<VERTICAL_CROSSECTION_FILES>

</VERTICAL_CROSSECTION_FILES>


<VERTICAL_CROSSECTION_PARAMETERS>

</VERTICAL_CROSSECTION_PARAMETERS>


<VERTICAL_CROSSECTION_COMPUTATIONS>

</VERTICAL_CROSSECTION_COMPUTATIONS>


<VERTICAL_CROSSECTION_PLOTS>

</VERTICAL_CROSSECTION_PLOTS>

<SPECTRUM_FILES>

# SAR-derived wave spectrum files
m=ASAR-IMS,     f=/home/bruceh/Project/Gov/NRS/SAR_wavespec/asar-ims_wamspec.dat

</SPECTRUM_FILES>
