*** snap.input  ('snap.input')
***
*** DNMI SNAP - Severe Nuclear Accident Program
***

DRY.DEPOSITION.NEW
WET.DEPOSITION.VERSION = 2
RANDOM.WALK.ON
BOUNDARY.LAYER.FULL.MIX.OFF
REMOVE.RELATIVE.MASS.LIMIT= 0.

MAX.TOTALPARTICLES= 20000000
TIME.STEP= 300.
STEP.HOUR.INPUT.MIN=  3
STEP.HOUR.INPUT.MAX= 12
ASYNOPTIC.OUTPUT

TOTAL.COMPONENTS.OFF
MSLP.OFF
PRECIPITATION.ON
MODEL.LEVEL.FIELDS.OFF
* MODEL.LEVEL.FIELDS.ON

POSITIONS.DECIMAL
FIELD.TYPE=fimex
FIMEX.FILE_TYPE= netcdf
FIMEX.CONFIG= 

GRID.NCTYPE = arome
ENSEMBLE_MEMBER.INPUT = 0
GRID.AUTODETECT.FROM_INPUT
LEVELS.INPUT= 25, 0,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1
DATA.ETA.LEVELS


FORECAST.HOUR.MIN= +3
FORECAST.HOUR.MAX= +9999

** IDENTIFY OUTPUT FIELDS WITH FORECAST LENGTH OR VALID TIME
FIELD_TIME.FORECAST
** OUTPUT FILES

FIELD.OUTTYPE=netcdf
FIELD.OUTPUT= snap.nc
LOG.FILE=     snap.log

* DEBUG.OFF
DEBUG.ON

OUTPUT.COLUMN_MAX_CONC.ENABLE
OUTPUT.MAX_AIRCRAFT_DOSERATE.ENABLE
* Tiltaksgrense Avsperring
* Se Sivilforsvaret Bestemmelser om sikkerhet under opplæring, øving og
* innsats i Sivilforsvaret
* Grense i Sv/h
OUTPUT.MAX_AIRCRAFT_DOSERATE.THRESHOLD = 60e-6
