***********************************************************************
*** MET Norway SNAP input file derived from snap.input_ec_0p1.tmpl
***********************************************************************
RANDOM.WALK.ON
BOUNDARY.LAYER.FULL.MIX.OFF
DRY.DEPOSITION.NEW
WET.DEPOSITION.VERSION = 2

REMOVE.RELATIVE.MASS.LIMIT= 0.

MAX.TOTALPARTICLES= 20000000
MAX.PARTICLES.PER.RELEASE= 2000
TIME.STEP= 600.
STEP.HOUR.INPUT.MIN= 3 
STEP.HOUR.INPUT.MAX= 6
STEP.HOUR.OUTPUT.FIELDS= 3
ASYNOPTIC.OUTPUT
TOTAL.COMPONENTS.OFF
MSLP.OFF
PRECIPITATION.ON
MODEL.LEVEL.FIELDS.OFF
POSITIONS.DECIMAL

GRID.AUTODETECT.FROM_INPUT
* ec_det in newer versions of snap
GRID.NCTYPE = ec_n1s
DATA.ETA.LEVELS
ENSEMBLE_MEMBER.INPUT = 0


FIELD_TIME.FORECAST

** OUTPUT FILES
FIELD.OUTTYPE=netcdf
FIELD.OUTPUT= snap.nc

* OUTPUT.AIRCRAFT_DOSERATE.ENABLE
* Tiltaksgrense Avsperring
* Se Sivilforsvaret Bestemmelser om sikkerhet under opplæring, øving og
* innsats i Sivilforsvaret
* Grense i Sv/h
OUTPUT.AIRCRAFT_DOSERATE.THRESHOLD.SV_H = 60e-6


LOG.FILE=     snap.log
DEBUG.ON


