***********************************************************************
*** snap.input  ('snap.input')
***
*** DNMI SNAP - Severe Nuclear Accident Program
***
*SET_RELEASE.POS= P=   61.9720,   10.8100
*TIME.START=   2012 12 20 06
*SET_RELEASE.POS= P=   57.25,   16.67
*TIME.RUN  = 48h
*
RANDOM.WALK.ON
* RANDOM.WALK.OFF
*
* BOUNDARY.LAYER.FULL.MIX.ON
BOUNDARY.LAYER.FULL.MIX.OFF
*
* DRY.DEPOSITION.OLD
DRY.DEPOSITION.NEW
*
* WET.DEPOSITION.OLD
WET.DEPOSITION.NEW
*
*TIME.RELEASE.PROFILE.STEPS
*RELEASE.HOUR=                0,       12
*RELEASE.RADIUS.M=           50,       50
*RELEASE.LOWER.M=            15,       15
*RELEASE.UPPER.M=           500,      500
*RELEASE.BQ/SEC.COMP= 1.39e+13, 1.39e+13, 'I131'
*RELEASE.BQ/SEC.COMP= 1.0e+13, 1.0e+13, 'Xe133'
*RELEASE.BQ/SEC.COMP=  2.6e+11,  2.6e+11, 'Cs137'
*
*** particles distributed on components according to mass
MAX.TOTALPARTICLES= 20000000
*
*
PRECIP(MM/H).PROBAB= 0.0,0.00, 0.5,0.31, 1.0,0.48, 1.5,0.60, 2.0,0.66
PRECIP(MM/H).PROBAB= 3.3,0.72, 8.3,0.80, 15.,0.85, 25.,0.91
*
REMOVE.RELATIVE.MASS.LIMIT= 0.
*
TIME.STEP= 300.
STEP.HOUR.INPUT.MIN=  3
* STEP.HOUR.INPUT.MIN=  6
STEP.HOUR.INPUT.MAX= 6
*STEP.HOUR.OUTPUT.FIELDS= 240
ASYNOPTIC.OUTPUT
*SYNOPTIC.OUTPUT
*
TOTAL.COMPONENTS.OFF
* TOTAL.COMPONENTS.ON
MSLP.OFF
PRECIPITATION.ON
MODEL.LEVEL.FIELDS.OFF
* MODEL.LEVEL.FIELDS.ON
*
** RELEASE POSITIONS
** (release.pos= 'name', latitude,longitude)
*
POSITIONS.DECIMAL
*
*
** GRID INPUT AND RUN, MODEL LEVELS INPUT (0,KS,KS-1,........1)
*
** ECRead output
GRID.NCTYPE = ecemep
DATA.ETA.LEVELS
* omit lowest layer (b>0.998), too close to 10m
LEVELS.INPUT= 49, 0,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1

** INPUT FIELD FILES
*
FORECAST.HOUR.MIN= +3
FORECAST.HOUR.MAX= +9999
*
FIELD.TYPE=netcdf
*FIELD.INPUT=/lustre/storeB/users/heikok/Meteorology/ecdis2cwf/NRPA_EUROPE_0_1_00/meteo20160606_00.nc

*
** IDENTIFY OUTPUT FIELDS WITH FORECAST LENGTH OR VALID TIME
*
FIELD_TIME.FORECAST
* FIELD_TIME.VALID
*
** OUTPUT FILES
*
FIELD.OUTTYPE=netcdf
FIELD.OUTPUT= snap.nc
LOG.FILE=     snap.log
*
* DEBUG.OFF
DEBUG.ON
*
ENSEMBLE.PROJECT.OUTPUT.OFF
ARGOS.OUTPUT.OFF
END

