Source: snap
Maintainer: Heiko Klein <heiko.klein@met.no>
Section: science
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), netcdf-fortran-4.2-metno-dev, gfortran, libmi-dev
Package: snap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Severe Nuclear Accident Programme
 Dispersion model specialized for nuclear accidents.
