#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=python_distutils


override_dh_auto_clean:
	python3 setup.py clean -a
	find . -name \*.pyc -exec rm {} \;



override_dh_auto_build:
	python3 setup.py build --force



override_dh_auto_install:
	python3 setup.py install --force --root=debian/snap-py --no-compile -O0 --install-layout=deb
	# Add -s to all Python shebangs in installed scripts (first line only)
	for f in debian/snap-py/usr/bin/snapPy \
	         debian/snap-py/usr/bin/snap4rimsterm \
	         debian/snap-py/usr/bin/snapCombineInverse \
	         debian/snap-py/usr/bin/snapNc2grib.py \
	         debian/snap-py/usr/bin/snapRunnerNpps \
	         debian/snap-py/usr/bin/snapRunnerNpp \
	         debian/snap-py/usr/bin/eemepModelRunner \
	         debian/snap-py/usr/bin/snapRemoteRunner.py \
	         debian/snap-py/usr/bin/snapEnsAshPlot.py \
	         debian/snap-py/usr/bin/snapAddBombIsotopes \
			 debian/snap-py/usr/bin/snapVolcano \
	         debian/snap-py/usr/bin/snapAddToa; do \
	    sed -i '1s|^$#!.*python3$.*|\1 -s|' "$$f"; \
	done


override_dh_python2:
	echo "omit: dh_python2 --no-guessing-versions"


