---
name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  FIMEX_VERSION: "2.1"

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies and launchpad-repo
        run: |
            sudo add-apt-repository -y ppa:met-norway/fimex
            sudo apt update
            sudo apt-get install libnetcdff-dev gfortran git-lfs
            git lfs install

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get machine info
        run: |
          cat /proc/cpuinfo | grep 'model name' | uniq
          cat /proc/cpuinfo | grep flags | uniq
          free -h

      - name: Link appropriate make configuration
        run: cd src && ln -s gcc_pkgconfig.mk current.mk

      - name: Install test requirements
        run: sudo apt-get install python3-numpy python3-netcdf4

      - name: Create binaries (no fimex) (no tests without fimex)
        run: cd src && env SNAP_BOUND_CHECKS=1 make -j2

      - name: Clean up
        run: cd src && make clean

      - name: Install official fimex-binary from launchpad
        run: sudo apt install libfimex-$FIMEX_VERSION-dev

      - name: Create and test binaries (with fimex)
        run: cd src && make clean && env SNAP_FIMEX_VERSION=$FIMEX_VERSION SNAP_BOUND_CHECKS=1 make test
