---
name: Test

on:
  push:

env:
  FIMEX_VERSION: "1.9"

jobs:
  test:
    name: test
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get machine info
        run: |
          cat /proc/cpuinfo | grep 'model name' | uniq
          cat /proc/cpuinfo | grep flags | uniq
          free -h


      - name: Install dependencies and launchpad-repo
        run: |
            sudo add-apt-repository -y ppa:met-norway/fimex
            sudo apt update
            sudo apt-get install libnetcdff-dev gfortran

      - name: Link appropriate make configuration
        run: cd src && ln -s gcc_pkgconfig.mk current.mk

#      - name: Create binaries (no fimex)
#        run: cd src && env SNAP_DEBUG_CHECKS=1 make -j2

#      - name: Clean up
#        run: cd src && make clean

      - name: Install official fimex-binary from launchpad
        run: sudo apt install libfimex-$FIMEX_VERSION-dev

#      - name: Create binaries (with fimex)
#        run: cd src && make clean && env SNAP_FIMEX_VERSION=$FIMEX_VERSION make -j2

      - name: Install test requirements
        run: sudo apt-get install python3-numpy python3-netcdf4

      - name: Test binaries
        run: cd src && env SNAP_FIMEX_VERSION=$FIMEX_VERSION make test
